<?xml version="1.0" encoding="UTF-8"?>

<!--
    Process Dashboard - Data Automation Tool for high-maturity processes
    Copyright (C) 2014 Tuma Solutions, LLC

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 3
    of the License, or (at your option) any later version.

    Additional permissions also apply; see the README-license.txt
    file in the project root directory for more information.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, see http://www.gnu.org/licenses/

    The author(s) may be contacted at:
        processdash@tuma-solutions.com
        processdash-devel@lists.sourceforge.net
-->

<web-app id="processdash" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Process Dashboard</display-name>

	<servlet>
		<display-name>CMS Servlet</display-name>
		<servlet-name>cmsServlet</servlet-name>
		<servlet-class>
			net.sourceforge.processdash.net.http.TinyCGIHandlerServlet
		</servlet-class>
		<init-param>
			<param-name>linkData</param-name>
			<param-value>class:net.sourceforge.processdash.net.cms.CmsContentDispatcher</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>cmsServlet</servlet-name>
		<url-pattern>/cms/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>recentReviews</servlet-name>
		<servlet-class>net.sourceforge.processdash.ui.web.reports.snippets.RecentReviews</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>recentReviews</servlet-name>
		<url-pattern>/dash/snippets/recentReviews</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>workflowPlan</servlet-name>
		<servlet-class>net.sourceforge.processdash.ui.web.reports.workflow.PlanAnalysisPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>workflowPlan</servlet-name>
		<url-pattern>/reports/workflowPlan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>workflowProcess</servlet-name>
		<servlet-class>net.sourceforge.processdash.ui.web.reports.workflow.ProcessAnalysisPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>workflowProcess</servlet-name>
		<url-pattern>/reports/workflowProcess</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>workflowQuality</servlet-name>
		<servlet-class>net.sourceforge.processdash.ui.web.reports.workflow.QualityAnalysisPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>workflowQuality</servlet-name>
		<url-pattern>/reports/workflowQuality</url-pattern>
	</servlet-mapping>

</web-app>
