<html>
<head><title>File Comparer</title>
<meta name="Microsoft Theme" content="none">
</head>
<body>
<h1>File Comparer</h1>
<form ACTION="pspdiff.class" METHOD="POST" ENCTYPE="multipart/form-data">
<input TYPE="SUBMIT" Name="Compare the Files" Value="Compare the Files">&nbsp;&nbsp;&nbsp;<a HREF="options.html"><i>LOC Counting Options:</i></a>&nbsp;<input TYPE="TEXT" SIZE="24" Name="options">

<table BORDER="1">
<tr><td BGCOLOR="#32cd32"><font SIZE="+1"><b>Initial File</b></font><br>
Select a file: <input TYPE="file" NAME="FILEA" SIZE="40"><br>
Or copy and paste the original text here:<br>
<textarea name="TEXTA" rows="5" cols="60"></textarea></td></tr>

<tr><td BGCOLOR="#32cdcc"><font SIZE="+1"><b>Modified File</b></font><br>
Select a file: <input TYPE="file" NAME="FILEB" SIZE="40"><br>
Or copy and paste the modified text here:<br>
<textarea name="TEXTB" rows="5" cols="60"></textarea></td></tr>

</table></form>

<script LANGUAGE="JavaScript">

if (window.location.search) {
    document.forms[0].Options.value = unescape(window.location.search.substring(1, 999));
} else if (document.cookie) {
    option = document.cookie.match(/pspdiff-options=([^ ]+)/);
    if (option != null) {
        document.forms[0].Options.value = unescape(option[1]);
    }
}

</script>

</body>
</html>
