/* Stylesheet with useful styles for the editing of CMS content */

.cmsEditingTitle {
    border:1px solid black; 
    border-bottom: 0pt;
    background-color: #0000c0;
    background-image: url("/Images/blueGradient.gif");
    background-repeat: repeat-x;
    background-position: center;
    margin: 0px;
    cursor: move;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.cmsEditingTitleButton {
    float: right;
    margin-right: 3px;
    margin-top: 2px;
}

.cmsDeleteButton {
    float: right;
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    background-image: url("/Images/delete.gif");
    font-size: 1pt;
}

.cmsMoveUpButton {
    float: right;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    background-image: url("/Images/up.gif");
    font-size: 1pt;
}

.cmsMoveDownButton {
    float: right;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    background-image: url("/Images/down.gif");
    font-size: 1pt;
}

.cmsEditButton14 {
    float: right;
    margin-right: 3px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    background-image: url("/Images/edit14.gif");
    font-size: 1pt;
}

.cmsEditingRegion {
    border:1px solid black; 
    background-color: #ecf3e1;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.cmsDeleteMessage {
    border:1px solid black; 
    background-color: #ecf3e1;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-style: italic;
}
.cmsDeleteMessage a {
    font-weight: bold;
    color: #0000ff;
}

.cmsMarginsTopAndBottom {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cmsNoTopMargin {
    margin-top: 0px;
}

.cmsNoBottomMargin {
    margin-bottom: 0px;
}

.cmsMetadataSection {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid silver;
}

div#fixedFooter.cmsButtonRow {
    background-color: #ffffc0;
    border-top: 2px solid black;
    padding: 10px;
}
.cmsButtonRow button {
    margin-left: 15px;
}

.cmsNoEditMessage {
    font-style: italic;
}

li.cmsNewItemDescription {
    background-color: #ffffa0;
}

td.cmsNewItemDescription {
    padding: 2px 10px;
    vertical-align: top;
    background-color: #ffffa0;
}

td.cmsNewItemDescription div {
    font-style: italic;
}

.cmsIndent {
    margin-left: 1cm;
}

.padRight {
    margin-right: 5px;
}

.stretchHoriz {
    width: 100%
}


/* styles used by the metrics editing autocompletion logic */

div#cmsAutocomplete {
    position:absolute;
    z-index: 1;
    width:250px;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
    top:0px;
}

div.cmsAutocompleteOverflow {
    height: 250px;
    overflow: scroll;    
}

div#cmsAutocomplete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

div#cmsAutocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    cursor:pointer;
}

div#cmsAutocomplete ul li.selected {
    background-color: #ffb;
}

div.cmsListContainer {
    background-color: #ffffc0;
    padding: 5px;
    width: 95%;
    position: relative;
}

div.metric {
    border: 1px solid black;
    background-color: #ccccff;
    padding: 1px 5px;
    margin-bottom: 5px;
    font-size: smaller;
    cursor: move;
    position: relative;
}