/* stylesheet for help content when the PSP add-on is NOT installed */
.sepnotice { display: block }
sup { font-size: smaller }
sub { font-size: smaller }
blockquote.ital { font-style: italic; font-family: sans-serif; font-size: 95% }
.figure {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.ifpsp { background-color: #c0ffc0 }
.unlesspsp { background-color: #c0c0ff }
