<hr/><div style="font-size: small; font-style: italic">
Grading a PSP assignment requires a great deal of wisdom and expertise.
This "grading helper" attempts to automate some of the repetitive tasks,
and displays computer-generated verbiage that you may be able to paste into
a grading checklist.  However, these automated tests are no substitute for
your knowledge and experience.  It is imperative that you apply your
professional judgment as a PSP instructor to decide whether these findings
are accurate, or whether they represent false positives.
</div>
