
keystore "keystore";

grant codeBase "${process.dashboard.codebase.url}"  {
	permission java.security.AllPermission;
};

grant signedBy "processdash-full-permissions" {
	permission java.security.AllPermission;
};

grant signedBy "processdash-full-permissions-2015" {
	permission java.security.AllPermission;
};

grant signedBy "processdash-full-permissions-2005" {
	permission java.security.AllPermission;
};

grant signedBy "tuma-solutions" {
	permission java.security.AllPermission;
};

grant signedBy "tuma-solutions-2006" {
	permission java.security.AllPermission;
};

grant signedBy "tuma-solutions-2008" {
	permission java.security.AllPermission;
};

grant signedBy "tuma-solutions-2010" {
        permission java.security.AllPermission;
};

grant signedBy "tuma-solutions-2013" {
        permission java.security.AllPermission;
};

grant signedBy "tuma-solutions-2018" {
        permission java.security.AllPermission;
};

grant signedBy "sun-javahelp-permissions" {
    permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
    permission java.lang.RuntimePermission "queuePrintJob";
};

grant signedBy "sun-javahelp-permissions-2" {
    permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
    permission java.lang.RuntimePermission "queuePrintJob";
};
