table.changeHistory {
    background: url("timeLine.png") repeat-y;
    border-spacing: 0px;
}

tr.dateHeader {
    background-color: #c0c0c0;
}

div.dateHeader {
    font-size: larger;
    font-weight: bold;
    padding: 7px;
}

tr.timeHeader {
    background: url("timeDot.png") no-repeat left;
}

div.timeHeader {
    color: #808080;
    margin-left: 20px;
}

div.changeItem {
    position: relative;
}

img.changeIcon {
    position: absolute;
    vertical-align: baseline;
    left: -18px;
    top: 3px;
}

a.treeTableFolder {
    background: url("plus-light.png") no-repeat center;
    height: 14px;
    text-decoration: none;
    top: 3px;
    width: 11px;
}

tr:hover a.treeTableFolder {
    background-image: url("/Images/plus.png");
}

tr.tree-table-folder-open a.treeTableFolder {
    background-image: url("minus-light.png");
}

tr.tree-table-folder-open:hover a.treeTableFolder {
    background-image: url("/Images/minus.png");
}

a.treeTableFolder.shiftLeft {
    left: -33px;
}

a.itemHref {
    color: black;
    text-decoration: none;
}

a.itemHref:hover {
    color: blue;
    text-decoration: underline;
}

a.newestLink {
    background: url("2leftarrow.png") no-repeat left center;
    padding-left: 20px;
    min-height: 16px;
}

a.olderLink {
    background: url("1rightarrow.png") no-repeat right center;
    padding-right: 20px;
    min-height: 16px;
}

span.addedWord {
    color: #0000a0;
    font-weight: bold;
}

span.deletedWord {
    color: #a00000;
    font-weight: bold;
    text-decoration: line-through;
}

span.separator {
    color: #777;
    padding: 0px 10px;
}

div.errorMessage pre {
    margin-left: 1cm;
}
