/* this enforces the black on white look even on unix */
BODY { color: black;
      background-color: white }

/* Remove the annoying space that appears above and below lists */
UL { margin-top: 0pt; margin-bottom: 0pt }
OL { margin-top: 0pt; margin-bottom: 0pt }

/* style for instructions that are new to the current PSP level */
.newPsp { font-style: italic;
          font-weight: bold }

/* style for instructions that don't really apply to the dashboard, or to 
   things that the dashboard takes care of automatically */
.nonDash { color: #C0C0C0 }

/* style for instructions that are specific to the dashboard */
.dash { color: #00A000 }

/* style for items which should be omitted when printing a document. */
@media print { .doNotPrint { display: none } }

/* style for read only items on a form */
.readOnlyElem { background-color: "#cccccc" }
