<div id="basePartsGraph" style="display:none">
  <div id="baseTrack" class="graphTrack">
    <div id="deletedSpan" class="graphSpan"></div>
    <div id="modifiedSpan" class="graphSpan"></div>
    <div id="unmodifiedSpan" class="graphSpan"></div>
    <div id="deletedHandle" class="graphHandle"></div>
    <div id="modifiedHandle" class="graphHandle"></div>
  </div>
  <div id="addedTrack" class="graphTrack">
    <div id="addedSpan" class="graphSpan"></div>
    <div id="addedHandle" class="graphHandle"></div>
  </div>
  <a id="hideBasePartsGraphLink" href="#"
     onclick="DashSET.deactivateBasePartsRow(); return false;"></a>
</div>

<div id="diffAnnotation" style="display:none">&nbsp;</div>
