/* use a different look and feel from the standard forms, to clue in the user
   right away that these forms operate differently. */

BODY { color: black; background-color: silver; ignore:"#d6d3ce" }

A.plain:link    { color:#000080; text-decoration:none }
A.plain:visited { color:#000080; text-decoration:none }
A.plain:hover   { color:blue; text-decoration:underline }

/* Remove the annoying space that appears above and below lists */
UL { margin-top: 0pt; margin-bottom: 0pt }
OL { margin-top: 0pt; margin-bottom: 0pt }
